In [5]:
import pymysql
import numpy as np
import pandas as pd
from pandas import DataFrame

#Some elements 
#Refering from https://www.tutorialspoint.com/python3/python_database_access.htm

In [8]:
conn=pymysql.connect(host='localhost',user='root',password='Wuyuting1997',db='HR')

In [9]:
a=conn.cursor()

In [12]:
sql='select * from `locations`;'

In [13]:
a.execute(sql)

23

In [14]:
data=a.fetchall()
data

((1000, '1297 Via Cola di Rie', '989', 'Roma', '', 'IT'),
 (1100, '93091 Calle della Testa', '10934', 'Venice', '', 'IT'),
 (1200, '2017 Shinjuku-ku', '1689', 'Tokyo', 'Tokyo Prefecture', 'JP'),
 (1300, '9450 Kamiya-cho', '6823', 'Hiroshima', '', 'JP'),
 (1400, '2014 Jabberwocky Rd', '26192', 'Southlake', 'Texas', 'US'),
 (1500,
  '2011 Interiors Blvd',
  '99236',
  'South San Francisco',
  'California',
  'US'),
 (1600, '2007 Zagora St', '50090', 'South Brunswick', 'New Jersey', 'US'),
 (1700, '2004 Charade Rd', '98199', 'Seattle', 'Washington', 'US'),
 (1800, '147 Spadina Ave', 'M5V 2L7', 'Toronto', 'Ontario', 'CA'),
 (1900, '6092 Boxwood St', 'YSW 9T2', 'Whitehorse', 'Yukon', 'CA'),
 (2000, '40-5-12 Laogianggen', '190518', 'Beijing', '', 'CN'),
 (2100, '1298 Vileparle (E)', '490231', 'Bombay', 'Maharashtra', 'IN'),
 (2200, '12-98 Victoria Street', '2901', 'Sydney', 'New South Wales', 'AU'),
 (2300, '198 Clementi North', '540198', 'Singapore', '', 'SG'),
 (2400, '8204 Arthur St', '', 'London', '', 'UK'),
 (2500, '"Magdalen Centre\tThe Oxford\tOX9 9ZB', '', '', '', ''),
 (2600, '', '', '', '', ''),
 (2700, '', '', '', '', ''),
 (2800, '', '', '', '', ''),
 (2900, '', '', '', '', ''),
 (3000, '', '', '', '', ''),
 (3100, '', '', '', '', ''),
 (3200, '', '', '', '', ''))

In [19]:
df = pd.read_sql(sql, conn)

In [21]:
df.head(10)

,location_id,street_address,postal_code,city,state_province,country_id
0,1000,1297 Via Cola di Rie,989,Roma,,IT
1,1100,93091 Calle della Testa,10934,Venice,,IT
2,1200,2017 Shinjuku-ku,1689,Tokyo,Tokyo Prefecture,JP
3,1300,9450 Kamiya-cho,6823,Hiroshima,,JP
4,1400,2014 Jabberwocky Rd,26192,Southlake,Texas,US
5,1500,2011 Interiors Blvd,99236,South San Francisco,California,US
6,1600,2007 Zagora St,50090,South Brunswick,New Jersey,US
7,1700,2004 Charade Rd,98199,Seattle,Washington,US
8,1800,147 Spadina Ave,M5V 2L7,Toronto,Ontario,CA
9,1900,6092 Boxwood St,YSW 9T2,Whitehorse,Yukon,CA

In [22]:
df.shape

(23, 6)

# Create Databse and Table

In [2]:
import pymysql

# Open database connection
db = pymysql.connect("localhost","root","123" )

# prepare a cursor object using cursor() method
cursor = db.cursor()

In [4]:
# Create a Database to start
cursor.execute("CREATE DATABASE IF NOT EXISTS TEST")

/Users/zepeng/anaconda/lib/python3.5/site-packages/pymysql/cursors.py:166: Warning: (1007, "Can't create database 'TEST'; database exists")
  result = self._query(query)

1

In [5]:
# USE the Database TEST
cursor.execute("USE TEST")

0

In [6]:
# Create table EMPLOYEE
sql =  """CREATE TABLE IF NOT EXISTS EMPLOYEE (
   FIRST_NAME  CHAR(20) NOT NULL,
   LAST_NAME  CHAR(20),
   AGE INT,  
   SEX CHAR(1),
   INCOME FLOAT );"""

cursor.execute(sql)

/Users/zepeng/anaconda/lib/python3.5/site-packages/pymysql/cursors.py:166: Warning: (1050, "Table 'EMPLOYEE' already exists")
  result = self._query(query)

0

In [7]:
# disconnect from server
db.close()

# INSERT into Table

In [8]:
# Open database connection
db = pymysql.connect("localhost","root","123","TEST" )

# prepare a cursor object using cursor() method
cursor = db.cursor()

# Prepare SQL query to INSERT a record into the database.
sql = """INSERT INTO EMPLOYEE 
         VALUES ('John', 'Mohan', 22, 'M', 2000)
      """

try:
    # Execute the SQL command
    cursor.execute(sql)
    # Commit your changes in the database
    db.commit()
except:
    # Rollback in case there is any error
    db.rollback()

# disconnect from server
db.close()

# Read Data

In [19]:
# Open database connection
db = pymysql.connect("localhost","root","123","TEST" )

# prepare a cursor object using cursor() method
cursor = db.cursor()

# Prepare SQL query to INSERT a record into the database.
sql = "SELECT * FROM EMPLOYEE"

try:
    # Execute the SQL command
    cursor.execute(sql)
    # Fetch all the rows in a list of lists.
    results = cursor.fetchall()
    for row in results:
        print(row)
        fname = row[0]
        lname = row[1]
        age = row[2]
        sex = row[3]
        income = row[4]
    # Now print fetched result
    print ("fname = %s,lname = %s,age = %d,sex = %s,income = %d" % \
             (fname, lname, age, sex, income ))
except:
    print ("Error: unable to fetch data")

('John', 'Mohan', 22, 'M', 2000.0)
fname = John,lname = Mohan,age = 22,sex = M,income = 2000

In [20]:

# disconnect from server
db.close()

# Update Database

In [43]:
import pymysql

# Open database connection
db = pymysql.connect(host='localhost',user='root',password='123',db='HR')

# prepare a cursor object using cursor() method
cursor = db.cursor()

# Prepare SQL query to UPDATE required records
sql = "UPDATE job_grades SET highest_sal = 40000 WHERE grade_level = 'F';"

In [46]:

try:
    # Execute the SQL command
    cursor.execute(sql)
        # Commit your changes in the database
    db.commit()


except:
    # Rollback in case there is any error
    db.rollback()


#disconnect from server
db.close()

# Delete

In [47]:
import pymysql

# Open database connection
db = pymysql.connect("localhost","root","123","TEST" )

# prepare a cursor object using cursor() method
cursor = db.cursor()

# Prepare SQL query to DELETE required records
sql = "DELETE FROM EMPLOYEE WHERE AGE > '%d'" % (20)
try:
    # Execute the SQL command
    cursor.execute(sql)
    # Commit your changes in the database
    db.commit()

except:
    # Rollback in case there is any error
    db.rollback()

# disconnect from server
db.close()

'''
Commit is an operation, which gives a green signal to the database to finalize the changes, and 
after this operation, no change can be reverted back.
'''

'''
If you are not satisfied with one or more of the changes and you want to revert back those changes 
completely, then use the rollback() method.
'''